---
import AppCSS from '@/partials/AppCSS.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
    <base href={import.meta.env.BASE_URL} />

    <title>Contact form</title>
    <link rel="icon" type="image/x-icon" href="./favicon.png" />
    <AppCSS />
  </head>
  <body class="body" data-variant="app">
    <div id="main"></div>
    <script>
      import { Elm } from '@/elm/Main.elm';

      const app = Elm.Main.init({
        node: document.getElementById('main')
      });

      app.ports.send.subscribe(message => {
        switch (message?.tag) {
          case 'output':
            console.log(message.value);
            window.alert(`First name: ${message.value.firstName}
Last name: ${message.value.lastName}
Email: ${message.value.email}
Query type: ${capitalize(message.value.queryType)}
Message: ${message.value.message}`);
            break;
          default:
            console.log('Unknown message', message);
        }
      });

      function capitalize(s) {
        return String(s).charAt(0).toUpperCase() + String(s).slice(1);
      }
    </script>
  </body>
</html>
