---
import "@/styles/workshop.scss";

import Button from "@/components/Button.astro";
import Checkbox from "@/components/Checkbox.astro";
import Field from "@/components/Field.astro";
import Group from "@/components/Group.astro";
import Icon from "@/components/Icon.astro";
import Label from "@/components/Label.astro";
import LabelledCheckbox from "@/components/LabelledCheckbox.astro";
import LabelledRadio from "@/components/LabelledRadio.astro";
import QueryType from "@/components/QueryType.astro";
import Radio from "@/components/Radio.astro";
import Swatch from "@/components/Swatch.astro";
import Textarea from "@/components/Textarea.astro";
import TextInput from "@/components/TextInput.astro";
import Toast from "@/components/Toast.astro";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />

    <title>Contact form | Frontend Workshop</title>
  </head>
  <body>
    <h1>Contact form</h1>

    <h2>Toast</h2>

    <Toast title="Message Sent!">
      Thanks for completing the form. We'll be in touch soon!
    </Toast>

    <h2>Icon</h2>

    <p class="p-100 bg-grey-900"><Icon type="check" /></p>

    <h2>Field</h2>

    <h3>Clean and valid</h3>

    <Field
      id="field1"
      title="First Name"
      Control={TextInput}
    />

    <h3>Dirty and invalid</h3>

    <Field
      id="field2"
      title="Last Name"
      Control={TextInput}
      error="error text"
    />

    <h3>General</h3>

    <Field
      id="field3"
      title="Query Type"
      Control={QueryType}
      name="group3"
      propsA={{ checked: true }}
    />

    <h3>Support</h3>

    <Field
      id="field4"
      title="Query Type"
      Control={QueryType}
      name="group4"
      propsB={{ checked: true }}
    />

    <h3>Invalid</h3>

    <Field
      id="field5"
      title="Query Type"
      Control={QueryType}
      name="group5"
      error="error text"
    />

    <h3>Unchecked and valid</h3>

    <Field
      id="field6"
      Control={LabelledCheckbox}
      text="Text 1"
    />

    <h3>Checked and valid</h3>

    <Field
      id="field7"
      Control={LabelledCheckbox}
      text="Text 2"
      checked
    />

    <h3>Unchecked and invalid</h3>

    <Field
      id="field8"
      Control={LabelledCheckbox}
      text="Text 3"
      error="error text"
    />

    <h2>Labelled Checkbox</h2>

    <p><LabelledCheckbox text="Content 1" /></p>
    <p><LabelledCheckbox text="Content 2" checked /></p>

    <h2>Radio Group</h2>

    <Group>
      <LabelledRadio name="group1" text="General Enquiry" />
      <LabelledRadio name="group1" text="Support Request" />
    </Group>

    <h2>Labelled Radio</h2>

    <p><LabelledRadio /></p>
    <p><LabelledRadio checked /></p>

    <h2>Label</h2>

    <h3>Without ID</h3>

    <p><Label title="First Name"/></p>

    <h3>With ID</h3>

    <p><Label id="label1" title="First Name" /></p>

    <h3>Optional</h3>

    <p><Label id="label2" title="Last Name" isRequired={false} /></p>

    <h2>Textarea</h2>

    <p><Textarea /></p>

    <h2>Text Input</h2>

    <h3>Clean and invalid</h3>

    <p><TextInput /></p>

    <h3>Dirty and invalid</h3>

    <p><TextInput isDirty={true} /></p>

    <h3>Clean and valid</h3>

    <p><TextInput isValid={true} /></p>

    <h3>Dirty and valid</h3>

    <p><TextInput isDirty={true} isValid={true} /></p>

    <h2>Checkbox</h2>

    <p><Checkbox /></p>
    <p><Checkbox checked /></p>

    <h2>Radio</h2>

    <p><Radio /></p>
    <p><Radio checked /></p>

    <p></p>

    <h2>Button</h2>

    <h3>Default</h3>

    <p><Button>Text</Button></p>

    <h3>Extra classes</h3>

    <p><Button class="another class">Text</Button></p>

    <h3>Submit</h3>

    <p><Button type="submit">Submit</Button></p>

    <h2>Colors</h2>

    <Swatch name="Grey 900" color="grey-900" />
    <Swatch name="Grey 500" color="grey-500" />
    <Swatch name="White" color="white" />
    <Swatch name="Green 600" color="green-600" />
    <Swatch name="Green 200" color="green-200" />
    <Swatch name="Red (Errors)" color="red" />
  </body>
</html>
